<table style='width:60%; text-align:center'>

  <thead>
    <th>
      ID
    </th>
    <th>
    Nombre
    </th>
    <th>
    Seguidores
    </th>
    <th>
    Seguidos
    </th>
    <th>
    </th>
  </thead>

<tbody>
  <tr>
    <h1>User Details</h1>
    <%= render @user,
      follower_count: @follower_count,
      following_count: @following_count %>
    <%= link_to 'Home', users_path %>
  </tr>

</tbody>

</table>
