<h1>User Details</h1>

<table style='width:60%; text-align:center'>

<thead>
    <th>
      ID
    </th>
    <th>
    Nombre
    </th>
    <th>
    Seguidores
    </th>
    <th>
    Seguidos
    </th>
    <th>
    </th>
  </thead>

    <tbody>
        <%= render @user %>
        <%= link_to 'Home', users_path %>
    <tbody>
    
</table>
